*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 25px;
}

body {
    margin: 10px;
}

.image {
    width: 420px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

[src*="image/No"] {
    position: absolute;
    top: 87px;
    left: 84px;
    z-index: 1;
}

[src*="image/bio"] {
    position: absolute;
    top: 52px;
    left: 6px;
}

[src*="image/bio"]:hover {
    z-index: 2;
}

[src*="image/Man"] {
    position: absolute;
    top: 26px;
    left: 224px;
}

[src*="image/Man"]:hover {
    z-index: 2;
}

[src*="image/Yin"] {
    position: absolute;
    top: 226px;
    left: 114px;
}

[src*="image/Yin"]:hover {
    z-index: 2;
}