html {
    font-size: 25px;
}

body {
    box-sizing: border-box;
}

div {
    padding: 20px;
}

a {
    color: green;
}

a:hover {
    color: red;
}


/* 1 способ - display: block; красные разделители border-right */

.borders_right a {
    padding: 5px 10px;
}

.borders_right a:first-child {
    padding-left: 9px;
}

[href^="http://"] {
    border-right: solid 4px red;
}



/* 2 способ - display: block; красные разделители border-left */

.borders_left a {
    padding: 5px 8px;
}

.borders_left a:first-child {
    padding-right: 6px;
}

.borders_left a:nth-child(2) {
    padding-left: 15px;
    padding-right: 5px;
}

.borders_left a:nth-child(2) {
    padding-left: 15px;
    padding-right: 5px;
}

.borders_left a:nth-child(3) {
    padding-left: 15px;
    padding-right: 5px;
}

.borders_left a:nth-child(4) {
    padding-left: 15px;
    padding-right: 5px;
}

.borders_left a:last-child {
    padding-left: 15px;
}

[href^="htmlbook"] {
    border-left: solid 4px red;
}



/* 3 способ - display: block; красные разделители ::after */

.red_after {
    padding: 5px 10px;
}

.red_after a:first-child {
    padding-left: 18px;
}

.red_after a:nth-child(2) {
    padding-left: 20px;
}

.red_after a:nth-child(3) {
    padding-left: 20px;
}

.red_after a:nth-child(4) {
    padding-left: 20px;
}

.red_after a:last-child {
    padding-left: 20px;
}

.red_after span:after {
    content: url(../../../Медиавложения/links/redline.webp);
    position: relative;
    top: 0.4em;
    left: 0.48em;
}



/* 4 способ - display: block; красные разделители ::before */

.red_before {
    padding: 10px 10px;
}

.red_before a:first-child {
    padding-left: 18px;
}

.red_before a:nth-child(2) {
    padding-left: 19px;
}

.red_before a:nth-child(3) {
    padding-left: 20px;
}

.red_before a:nth-child(4) {
    padding-left: 20px;
}

.red_before a:last-child {
    padding-left: 20px;
}

.red_before span:before {
    content: url(../../../Медиавложения/links/redline.webp);
    position: relative;
    top: 0.4em;
    left: 0.5em;
}



/* 5 способ - display: block; красные разделители background right */

.bkg_red_rights a {
    padding: 10px 0 0 0;
}

.bkg_red_rights a:first-child {
    padding-left: 8px;
    padding-right: 16px;
}

.bkg_red_rights a:nth-child(2) {
    padding-left: 8px;
    padding-right: 15px;
}

.bkg_red_rights a:nth-child(3) {
    padding-left: 8px;
    padding-right: 17px;
}

.bkg_red_rights a:nth-child(4) {
    padding-left: 8px;
    padding-right: 15px;
}

.bkg_red_rights a:last-child {
    padding-left: 8px;
}



[href$="a"] {
    background: url(../../../Медиавложения/links/redline.webp) right repeat-y;
}



/* 6 способ - display: block; красные разделители background lefts */

.bkg_red_lefts {
    padding-left: 9px;
}

.bkg_red_lefts a {
    padding: 5px 5px 7px 19px;
}

[href*="booka"] {
    background: url(../../../Медиавложения/links/redline.webp) left repeat-y;
}



/* 7 способ - float, красные разделители img */

.leftFloat div {
    padding: 5px 7px;
}

.leftFloat div:first-child {
    float: left;
    padding-left: 27px;
}

.leftFloat div:nth-child(2) {
    float: left;
}

.leftFloat div:nth-child(3) {
    float: left;
}

.leftFloat div:nth-child(4) {
    float: left;
}

.leftFloat div a:first-child {
    padding-right: 6px;
}

.leftFloat img {
    vertical-align: bottom;
}

[href*="#23"] {
    position: absolute;
    bottom: 272px;
    right: 606px;
}





/* 8 способ - table, красные разделители borders-right */

table {
    width: 930px;
    text-align: center;
}

td {
    width: 500px;
    height: 35px;
    border-right: solid 4px red;
}

td:last-child {
    border-right: none;
}

.noPadding {
    padding: 10px 12px 10px 13px;
}
