@font-face {
  font-family: 'Comfortaa-Regular';
  src: url('Comfortaa-Regular.svg#Comfortaa-Regular') format('svg'),
       url('Comfortaa-Regular.ttf') format('truetype'),
       url('Comfortaa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa-VariableFont_wght';
  src: url('Comfortaa-VariableFont_wght.eot');
  src: url('Comfortaa-VariableFont_wght.eot?#iefix') format('embedded-opentype'),
       url('Comfortaa-VariableFont_wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

