* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}
body {
  background-color: rgb(215, 215, 215);
}
.scrollOff {
  overflow: hidden;
}
.hidden {
  display: none;
  visibility: hidden;
}
.spinner {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
}
.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.image__gallery_header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(90, 182, 221);
  width: 100%;
  height: 100px;
  z-index: 9;
}
.image__gallery_select {
  position: fixed;
  top: 58px;
  left: calc(50% - 100px);
  padding: 5px;
  font-size: 16px;
  border: #62a2e2 3px solid;
  border-radius: 5px;
  cursor: pointer;
}
.image__gallery {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}
.image__gallery h1 {
  position: fixed;
  top: 10px;
  left: calc(50% - 145px);
  font-size: 40px;
  color: white;
}
.image__gallery_section {
  margin: 110px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}
.image__gallery_section_preview_picture {
  width: 200px;
  height: 200px;
  border: rgb(206, 206, 206) 4px solid;
  border-radius: 50%;
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0 0 5px 0;
}
.image__gallery_section_preview_picture:hover {
  -webkit-transform: scale(1.1) rotate(45deg);
  -ms-transform: scale(1.1) rotate(45deg);
  transform: scale(1.1) rotate(45deg);
}
.image__gallery_modal_picture {
  width: 100%;
  height: 80%;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 0 0 20px 0;
}
.image__gallery_modal_name,
.image__gallery_modal_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.image__gallery_modal_description {
  text-align: justify;
}
.image__gallery_modal_name {
  margin: 0 0 20px 0;
}
.image__gallery_title_cart_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 7px 0;
}
.image__gallery_article {
  border: 2px rgb(188, 188, 188) solid;
  border-radius: 10px;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
}
.dlg-modal {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  position: fixed;
  left: 50%;
  z-index: 10;
  padding: 50px 50px 30px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}
.dlg-modal-slide {
  top: -20px;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  visibility: visible;
  opacity: 1;
}
.closer {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url('cross.png') no-repeat;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.closer:hover {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fadeIn,
.fadeOut,
.slideInDown,
.slideOutUp {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes slideInDown {
  from {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
  to {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@keyframes slideInDown {
  from {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
  to {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes slideOutUp {
  from {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  to {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
}

@keyframes slideOutUp {
  from {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  to {
    top: -20px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
}
.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  opacity: 1;
  visibility: visible;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 500px) {
  .image__gallery_section {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .dlg-modal {
    padding: 50px 10px 20px;
    width: 90vw;
  }
}
