/* header */

body {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* main */

.composition {
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.big {
    position: absolute;
    bottom: 0;
    left: 250px;
    z-index: 1;
}

.pered_plan {
    position: absolute;
    bottom: 0;
    left: 250px;
    z-index: 3;
}

.small {
    position: absolute;
    bottom: 300px;
    left: 308px;
    z-index: 2;  
}

.small:hover {
    cursor: pointer;
}

.small:active {
    bottom: 68px;
    transition-duration: 1s;

}