/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}

nav,footer,header,aside {
    display: block;
}

html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea {
    font-family:inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding:0;border:0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-size:inherit;font-weight: 400;
}

/* --------------------------------------------------------------------------*/

html {
    font-family: 'Inter', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}



/* Header ---------------------------------------------------------------------------*/

.header {
    width: 100%;
    margin-bottom: 28px;
    position: relative;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.header_logo {
    padding: 30px 0 29px 0;
    float: left;
}

.header_logo:hover {
    cursor: pointer;
}

.header_nav {
    width: calc(100% - 278px);
    display: inline-block;
    text-align: center;
    padding-top: 30px;
}

.header_nav a {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    margin: 0 auto;
    text-transform: uppercase;
    color: #000000;
}

.header_nav a:hover {
    font-weight: bold;
}

.header_nav img {
    display: none;
    vertical-align: middle;
    position: absolute;
    top: 35px;
}

.header_nav a:hover img {
    display: inline-block;
}

.header_nav a:first-child {
    margin-right: 33px;
}

.header_nav a:nth-child(2) {
    margin-right: 49px;
}

.header_nav a:nth-child(3) {
    margin-right: 44px;
}

.header_search_basket {
    padding: 29px 30px 31px 0;
    float: right;
}

.header_search_basket img:first-child:hover,
.header_search_basket img:last-child:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.header_search_basket img:last-child {
    padding-left: 27px;
}

/* Caroesel --------------------------------------------------------------------------------------*/


.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1294px;
    height: 550px;
    position: relative;
    margin: 0 auto;
    background: #DCE5E2;
    border-radius: 32px;
}

[src="image/carousel/IMAGEcarousel.png"] {
    width: 100%;
    max-width: 647px;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    float: right;
}

[src="image/carousel/pngegg.png"] {
    width: 100%;
    max-width: 500px;
    height: 100%;
    object-fit: cover;
    float: right;
}

[src="image/carousel/pngwing.com.png"] {
    width: 100%;
    max-width: 500px;
    height: 100%;
    object-fit: cover;
    float: right;
}

/* Caption text */
.text {
    width: 465px;
    height: 39px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    position: absolute;
    left: 64px;
    bottom: 258px;
}

/* Number text (1/3 etc) */
.numbertext {
    max-width: 590px;
    height: auto;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
    padding: 120px 56px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 2px;
  width: 164px;
  background: #000000;
  display: inline-block;
  transition: 0.6s ease;
  margin: 0 17px;
}

.carousel_lines {
    text-align: center;
    position: relative;
    top: -45px;
}

.active {
  background-color: #c6c6c6;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.main_carousel {
    width: 100%;
    max-width: 1294px;
    height: 550px;
    background: #DCE5E2;
    margin-bottom: 75px;
    border-radius: 32px;
    position: relative;
    margin: 0 auto;
    display: none;
}

.main_carousel_left {
    float: left;
    width: 100%;
    height: 100%;
    max-width: 644px;
}

.main_carousel h2 {
    width: 100%;
    max-width: 588px;
    height: auto;
    margin: 145px 0 0 56px;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #000000;
}

.main_carousel p {
    width: 100%;
    max-width: 565px;
    height: auto;
    margin: 19px 0 0 56px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.big_img {
    margin-left: 645px;
    max-width: 647px;
    height: 100%;
}

.big_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.main_btn {
    width: 100%;
    max-width: 170px;
    height: 50px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    background: inherit;
    border: 1px solid #000000;
    border-radius: 200px;
    margin: 30px 0 0 56px;
    transition: .2s linear;
}

.main_btn:hover {
    background-color: #c4d1cc;
    transform: scale(1.1);
}

.main_btn_carousel {
    width: 100%;
    max-width: 170px;
    height: 50px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
    background: inherit;
    border: 1px solid #000000;
    border-radius: 200px;
    transition: .2s linear;
    position: absolute;
    left: 60px;
    bottom: 136px;
}

.main_btn_carousel:hover {
    background-color: #c4d1cc;
    transform: scale(1.1);
}

[src="image/mini-graphic-svg/Vectorarrov_left.svg"] {
    position: absolute;
    top: 263px;
    left: 19px;
}

[src="image/mini-graphic-svg/Vectorarrov_right.svg"] {
    position: absolute;
    top: 263px;
    right: 19px;
}

[src="image/mini-graphic-svg/Framerectangle.svg"] {
    position: absolute;
    top: 482px;
    left: 0;
}

/* latest_offers_categories --------------------------------------------------------------------------------------*/

.tittle_big {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    margin: 0 auto;
    text-align: center;
    color: #000000;
}

.tittle_carousel {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    margin: 0 auto;
    text-align: left;
    color: #000000;
}
.latest_offers_categories {
    width: 100%;
    max-width: 1440px;
    height: 1018px;
    margin: 28px auto;
}
.latest_offers_categories > p {
    width: 100%;
    max-width: 628px;
    height: 34px;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 10px auto 0;
    color: #000000;
}
.laptops_watch {
    margin: 55px 16px 0 45px;
    float: left;
}

.phones_tables {
    margin: 55px 0 0 0;
    float: left;
}

.laptops {
    width: 639px;
    height: 472px;
    margin-bottom: 49.5px;
    position: relative;
    box-shadow: 0 0 23px rgba(0,0,0,0.3);
    transition: .4s linear;
}

.laptops:hover {
    border-radius: 32px;
    transform: scale(1.1);
    cursor: pointer;
}

.laptops > img {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 0;
    left: 42px;
}

.laptops span:first-of-type {
    position: absolute;
    right: 42px;
    bottom: 76px;
}

.laptops span:last-of-type {
    width: 192px;
    height: 77px;
    position: absolute;
    right: 42px;
    bottom: 0;
}

.phones {
    width: 312px;
    height: 792px;
    margin-right: 16px;
    float: left;
    position: relative;
    box-shadow: 0 0 23px rgba(0,0,0,0.3);
    transition: .4s linear;
}

.phones:hover {
    border-radius: 32px;
    transform: scale(1.1);
    cursor: pointer;
}

.phones > img {
    position: absolute;
    bottom: 281px;
    left: 16px;
}

.phones span:first-of-type {
    position: absolute;
    left: 128px;
    bottom: 220px;
}

.phones span:last-of-type {
    width: 250px;
    height: 77px;
    position: absolute;
    right: 31px;
    bottom: 144px;
    text-align: center;
}

.tablet {
    width: 312px;
    height: 792px;
    float: left;
    position: relative;
    box-shadow: 0 0 23px rgba(0,0,0,0.3);
    transition: .4s linear;
}

.tablet:hover {
    border-radius: 32px;
    transform: scale(1.1);
    cursor: pointer;
}

.tablet > img {
    width: 100%;
    max-width: 467px;
    position: absolute;
    bottom: 115px;
    left: 0;
}

.tablet span:first-of-type {
    position: absolute;
    top: 114px;
    left: 132px;
}

.tablet span:last-of-type {
    
    width: 233px;
    height: 77px;
    position: absolute;
    top: 133px;
    left: 39px;
    text-align: center;
}

.watch {
    width: 639px;
    height: 270px;
    position: relative;
    box-shadow: 0 0 23px rgba(0,0,0,0.3);
    transition: .4s linear;
}

.watch:hover {
    border-radius: 32px;
    transform: scale(1.1);
    cursor: pointer;
}

.watch > img {
    width: 100%;
    max-width: 381px;
    position: absolute;
    top: 0;
    left: 42px;
}

.watch span:first-of-type {
    position: absolute;
    top: 87px;
    right: 42px;
}

.watch span:last-of-type {
   
    width: 128px;
    height: 77px;
    position: absolute;
    right: 42px;
    bottom: 87px;
}

.latest_offers_categories_tittle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

    text-align: right;

    color: #000000;
}

.latest_offers_categories_subtittle {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    text-align: right;

    color: #000000;
}


/* latest_offers_categories --------------------------------------------------------------------------------------*/

.save_on_our_most {
    width: 100%;
    max-width: 1350px;
    height: 580px;
    margin: 0 auto;
    padding: 27px 0 0 0;
}

.save_on_our_most_catalog {
    width: 100%;
    margin-left: 28px;
}

.save_on_our_most > p {
    width: 100%;
    max-width: 422px;
    height: 17px;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin: 12px auto 31px;
    color: #000000;
}

.catalog_cart {
    width: 303px;
    height: 430px;
    float: left;
    margin-right: 28px;
    transition: 0.3s linear;
}

.catalog_cart:hover {
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
    cursor: pointer;
}



.catalog_cart > img {
    padding: 28px;
    margin-bottom: 10px;
    transition: 0.3s linear;
}

.catalog_cart:hover > img {
    transform: scale(1.1);
    cursor: pointer;
}

.catalog_cart span:first-of-type {
    display: block;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 10px;
}

.catalog_cart p {
    width: 100%;
    max-width: 261px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    margin-bottom: 25px;

}

.catalog_cart span:last-of-type {
    display: block;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

/* See the best around here --------------------------------------------------------------------------------------*/

.gallery_best {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.gallery_best > p {
    width: 100%;
    max-width: 422px;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin: 12px auto 31px;
    color: #000000;
}

.gallery_best_item {
    width: 100%;
    max-width: 413px;
    height: 453px;
    margin: 25px 0 70px 28px;
    background: #F8F9FA;
    border-radius: 16px;
    float: left;
    transition: .4s linear;
}

.gallery_best_item:hover {
    background: #e6e6e6;
    transform: rotate(-5deg);
    cursor: pointer;
}

.gallery_best_item_subtitles {
    display: block;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    padding: 41px 136px 0 136px;
}

.gallery_best_item_titles {
    display: block;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.gallery_best_item_btn {
    display: block;
    margin: 0 auto 30px;
    width: 190px;
    height: 50px;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 200px;
    background: inherit;
    transition: .2s linear;
}

.gallery_best_item_btn:hover {
    background-color: #e9eaea;
    transform: rotate(5deg);
}

.gallery_best_item img {
    display: block;
    margin: 0 auto;
}


/* Ideas have a place here ----------------------------------------------------------------------*/

.ideas_place {
    width: 100%;
    max-width: 1350px;
    height: auto;
    margin: 0 auto;
}

[src="image/Ideas have a place here/IMAGEIdeas have a place here.jpg"] {
    float: left;
    margin-left: 28px;
}

.ideas_place p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.ideas_place p:first-of-type {
    float: left;
    width: 100%;
    max-width: 569px;
    height: auto;
    margin: 10px auto 28px 35px;
}

.ideas_place p:nth-of-type(2) {
    float: left;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto 28px 35px;
}

.ideas_place p:nth-of-type(3) {
    float: left;
    width: 100%;
    max-width: 521px;
    height: auto;
    margin: 0 auto 28px 35px;
}

.ideas_place p:last-of-type {
    float: left;
    width: 100%;
    max-width: 569px;
    height: auto;
    margin: 0 auto 28px 35px;
}

.ideas_place span {
    display: block;
    margin: 10px auto 56px;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
}

[href="###"] {
    display: block;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.ideas_link {
    width: 100%;
    margin: 0 auto;
    padding: 70px;
    background-color: #fff;
    clear: both;
}


/* Looking for anything else? ----------------------------------------------------------------------*/

.looking_for {
    width: 100%;
    max-width: 1294px;
    height: auto;
    margin: auto;
}

.search > input {
    margin: 25px auto;
    background: url(image/Lookingforanythingelse/IMAGElupa.png) left 3% center no-repeat;
}

.search > input:focus {
    background: none;
}

[type="search"] {
    display: block;
    width: 100%;
    max-width: 650px;
    height: 60px;
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    transition: .3s linear;
}

[type="search"]:hover {
    background: #dbdbdb;
}

[type="search"]::placeholder {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-left: 15%;
    color: #000000;
}

.all_btn {
    width: 100%;
    max-width: 563px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.looking_for_btn {
    width: auto;
    height: 42px;
    margin: 0 7px 7px 0;
    padding: 12px 22px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    transition: .2s linear;
}

.looking_for_btn:hover {
    cursor: pointer;
    background: #e0e0e0;
}

.never_miss {
    width: 100%;
    max-width: 935px;
    height: auto;
    background: #DCE5E2;
    border-radius: 16px;
    margin: 80px auto 0;
    padding-top: 47px;
}

.never_miss_subtittle {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

[src="image/See the best around here/IMAGEnever_miss.png"] {
    display: block;
    margin: 14px auto 3px;
}

[type="email"] {
    margin: 0 auto;
    width: 100%;
    max-width: 285px;
    height: 50px;
    background: #DCE5E2;
    border: 1px solid #000000;
    border-radius: 54px 0px 0px 54px;
    transition: .3s linear;
}

[type="email"]:hover {
    background: #bccac6;
    transform: scale(1.1);
    cursor: pointer;
}

[type="email"]::placeholder {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-left: 32px;
}

.never_miss_btn {
    width: 100%;
    max-width: 115px;
    height: 50.5px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    border-radius: 0px 200px 200px 0px;
    margin: 0 0 43px -4px;
    transition: .3s linear;
}  

.never_miss_btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.never_miss_form {
    text-align: center;
}

/* -----Footer------------------------------------------------------------------------*/

footer {
    width: 100%;
    max-width: 1440px;
    min-height: 424px;
    padding-top: 60px;
}

.footer_links {
    width: 100%;
    max-width: 1294px;
    margin: 0 auto;
}

.footer_left1 {
    float: left;
    margin: 10px 118px 0 0;
}

.footer_links p {
    width: 100%;
    max-width: 304px;
    margin: 18px 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.all_products {
    float: left;
    width: 100%;
    max-width: 225px;
}

.company {
    float: left;
    width: 100%;
    max-width: 225px;
}

.support {
    float: left;
    width: 100%;
    max-width: 225px;
}

.follow_us {
    float: left;
    width: 100%;
    max-width: 106px;
}

.footer_links span {
    display: block;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 19px;
}

.footer_links li {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    list-style-type: none;
}

footer a {
    display: block;
    color: #000000;
    margin-bottom: 14px;
}

footer a:hover {
    font-weight: bold;
}

[src="image/footerhor_line.svg"] {
    width: 100%;
    max-width: 1350px;
    margin: 78px auto 52px;
}

[src="image/IMAGEfoot_arrow.svg"] {
   display: block;
   padding-top: 7px;
}

.footer_bottom_left {
    float: left;
    margin-left: 28px;
}

.footer_bottom_left span {
    float: left;
}

.footer_bottom_right {
    float: right;
    margin-right: 28px;
}

.footer_bottom_right span {
    float: left;
}

.foot_bold {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.foot_norm {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

