*,
*:before, 
*:after {
    box-sizing: border-box;
}

html {
    font-size: 20px;
    line-height: 30px;
}
 
body {
    max-width: 1400px;
    margin: 20px auto;
    font-family: 'Comfortaa', cursive;

    background-color: antiquewhite;
}

/* Header */


.title:before {
    content: "<";
}

.title:after {
    content: ">";
}

/* Main */

.bold {
    padding-bottom: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.cod {
    border: solid 5px aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}
