html {
    font-size: 25px;
}

body {
    margin: 10px;
}

p {
    margin: 0;
}

p:first-child {
    font-size: 1.3rem;
    font-weight: bold;
}

p:nth-child(2) {
    color: green;
    font-weight: 100;
    font-size: 1rem;
}

p:nth-child(3) {
    color: red;
    font-weight: bold;
}

p:nth-child(5) {
    color: #4800ff;
    font-size: .8rem;
    font-style: italic;
}

a {
    color: #4800ff;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.1rem;
}

[href^="http"]:before {
    content: url('extref.png');
}

[href^="#Top"] {
    display: inline-block;
    margin-top: 15px;
}