@media (max-width: 1457px){
    .block_out_top {
        display: none;
    }
}
@media (max-width: 1401px){
    .container{
        max-width: 1210px;
    }
}
@media (max-width: 1230px){
    .container{
        max-width: 992px;
    }
    .carousel_katalog{
        max-width: 651px;
        object-fit: cover;
    }
    .form_have_questions {
        position: static;  
    }
    form > span {
        display: none;
    }
    .container_have_questions{
        max-height: 100%;
        text-align: center; 
    }
    .have_questions_ekmi{
        padding: 0;
    }
    .katalog_left{
        padding: 0 0 20px;
    }
    .our_story .our_story_text {
        max-width: 100%;
        position: static;
        margin: 20px auto;
    }
    .our_story {
        max-height: 100%;
        position: static;
    }
    .our_story .our_story_picture {
        text-align: center;
        margin: 0 auto;
        padding: 20px 0;
    }
    .our_story img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .our_story_orange_block {
        display: none;
    }
    .wrapper_main_individual_furniture .individual_furniture_text {
        flex: 0 1 auto;
        padding: 107px 0 99px 30px;
        background: #5B5B5B;
    }
    .main_katalog_carousel h1 {
        padding: 20px 225px 30px 0;
    }
}
/* @media (max-width: 768px){
    .wrapper_header,
    .wrapper_main_go_katalog,
    .wrapper_main_new_items,
    .wrapper_main_individual_furniture,
    .wrapper_our_story,
    .wrapper_latest_publications,
    .wrapper_have_questions,
    .wrapper_footer {
        display: none;
    }
    .wrapper_mobile_header{
        display: block;
    }
} */
