@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@700&family=Raleway:wght@300;400;500;600;700;800&display=swap");
/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/*preloader*/
.preloader {
  position: fixed;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.blockG {
  position: absolute;
  background-color: white;
  width: 10px;
  height: 23px;
  border-radius: 8px 8px 0 0;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-animation-name: fadeG;
          animation-name: fadeG;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

#rotateG_01 {
  left: 0;
  top: 27px;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#rotateG_02 {
  left: 8px;
  top: 10px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#rotateG_03 {
  left: 25px;
  top: 3px;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#rotateG_04 {
  right: 8px;
  top: 10px;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#rotateG_05 {
  right: 0;
  top: 27px;
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#rotateG_06 {
  right: 8px;
  bottom: 7px;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

#rotateG_07 {
  bottom: 0;
  left: 25px;
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#rotateG_08 {
  left: 8px;
  bottom: 7px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@-webkit-keyframes fadeG {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}

@keyframes fadeG {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
/*header-------------------------------------------------*/
body {
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif; */
  font-family: 'Raleway', sans-serif;
  background: #A9C2BE;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  /* padding: 0 20px; */
  /* background: rgb(240, 203, 203); */
}

.wrapper_header {
  min-width: 1210px;
}

.header {
  position: relative;
}

.header_nav {
  padding: 15px 0;
}
.header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.header_nav ul li {
  display: block;
  padding: 10px 0;
}
.header_nav ul a {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #343434;
}

.header_nav_katalog {
  display: none;
  width: 208px;
  height: 312px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  top: 75px;
  left: 0;
}
.header_nav_katalog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header_nav_katalog li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_katalog li:hover {
  background: #FF9619;
  cursor: pointer;
}
.header_nav_katalog li:hover a {
  color: #FFF;
}
.header_nav_katalog li a {
  padding: 0 0 0 11px;
  color: #343434;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_katalog li .header_nav_dropdowns {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
}

.header_nav li:first-child:hover div.header_nav_katalog {
  display: block;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 1;
}

.header_nav_individual {
  display: none;
  width: 208px;
  height: 312px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  top: 75px;
  left: 126px;
}
.header_nav_individual ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header_nav_individual li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_individual li:hover {
  background: #FF9619;
  cursor: pointer;
}
.header_nav_individual li:hover a {
  color: #FFF;
}
.header_nav_individual li a {
  padding: 0 0 0 11px;
  color: #343434;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header_nav li:nth-child(2):hover div.header_nav_individual {
  display: block;
  position: absolute;
  top: 75px;
  left: 126px;
  z-index: 1;
}

.header_nav_contacts {
  display: none;
  width: 208px;
  height: 312px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  top: 75px;
  left: 381px;
}
.header_nav_contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header_nav_contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_contacts li:hover {
  background: #FF9619;
  cursor: pointer;
}
.header_nav_contacts li:hover a {
  color: #FFF;
}
.header_nav_contacts li a {
  padding: 0 0 0 11px;
  color: #343434;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header_nav li:nth-child(3):hover div.header_nav_contacts {
  display: block;
  position: absolute;
  top: 75px;
  left: 381px;
  z-index: 1;
}

.header_nav_company {
  display: none;
  width: 208px;
  height: 312px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  top: 75px;
  left: 805px;
}
.header_nav_company ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header_nav_company li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_company li:hover {
  background: #FF9619;
  cursor: pointer;
}
.header_nav_company li:hover a {
  color: #FFF;
}
.header_nav_company li a {
  padding: 0 0 0 11px;
  color: #343434;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header_nav li:nth-child(5):hover div.header_nav_company {
  display: block;
  position: absolute;
  top: 75px;
  left: 805px;
  z-index: 1;
}

.header_nav_language {
  display: none;
  width: 32px;
  height: 75px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  top: 75px;
  left: 1153px;
}
.header_nav_language ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header_nav_language li {
  height: 25px;
  padding: 0 !important;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_language li:hover {
  cursor: pointer;
}
.header_nav_language li:hover a {
  color: #FF9619;
}
.header_nav_language li a {
  padding: 7px 7px;
  color: #343434;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_language li .header_nav_language_dropdowns {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(52, 52, 52, 0.7);
}

.header_nav li:last-child:hover div.header_nav_language {
  display: block;
  position: absolute;
  top: 75px;
  left: 1127px;
  z-index: 1;
}

/*go_katalog------------------------------------------------------------*/
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFF;
  background: #FF9619;
}
.btn:hover {
  background: #5B5B5B;
}

.wrapper_main_go_katalog {
  min-width: 1210px;
  max-height: 590px;
  margin: 0 0 140px 0;
  background-color: #CCB2A3;
}

.main_since_1993 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 95px;
}
.main_since_1993 span {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.main_katalog_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_katalog_carousel h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
  text-transform: capitalize;
  color: #FFF;
  padding: 80px 225px 60px 0;
  margin: 0;
}
.main_katalog_carousel h1::first-letter {
  color: #FF9619;
}
.main_katalog_carousel a {
  width: 210px;
  height: 43px;
  padding: 10px 20px;
}
.main_katalog_carousel a:hover {
  color: #FFF;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel_katalog {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 74.4%;
          flex: 0 1 74.4%;
}

.carousel-indicators {
  position: absolute;
  bottom: -47px;
  left: 0;
}

.carousel-indicators [data-bs-target] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 13px;
  height: 13px;
  padding: 0;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #F2F3F5;
  background-clip: padding-box;
  border: 0;
  border-radius: 50%;
  border-top: 0;
  border-bottom: 0;
  opacity: 1;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

.carousel-indicators .active {
  background-color: #FF9619;
}

/*new_items------------------------------------------------------------*/
.title {
  font-weight: 700;
  font-size: 35px;
}
.title::first-letter {
  color: #FF9619;
}

.title_new_item_line_height {
  line-height: 39px;
}

.wrapper_main_new_items {
  min-width: 1210px;
}
.wrapper_main_new_items a {
  width: 210px;
  height: 43px;
  padding: 10px 20px;
}
.wrapper_main_new_items a:hover {
  color: #FFF;
}

.new_items_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0 40px 0;
}
.new_items_carousel svg:first-of-type {
  margin: 0 29px 0 0;
  -ms-flex-item-align: center;
      align-self: center;
}
.new_items_carousel svg:last-of-type {
  margin: 0 0 0 29px;
  -ms-flex-item-align: center;
      align-self: center;
}
.new_items_carousel img {
  margin: 0 0 15px 0;
}

.main_new_items h2 {
  line-height: 39px;
}

.name_item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #343434;
}

.price_item {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FF9619;
  text-transform: uppercase;
}

.new_item_card {
  text-align: center;
}
.new_item_card:nth-child(3) {
  margin: 0 40px;
}

.main_new_items_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}

/*individual_furniture------------------------------------------------------------*/
.wrapper_main_individual_furniture {
  min-width: 1210px;
  min-height: 390px;
  background: url(image/individual_furniture/Vector\ 13turquoise\ tiles.png) no-repeat, repeating-linear-gradient(90deg, #A9C2BE 0%, #A9C2BE 54.9%, #5B5B5B 54.9%, #5B5B5B 100%);
  margin: 195px 0 182px 0;
}
.wrapper_main_individual_furniture .individual_furniture_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 58%;
          flex: 0 1 58%;
  max-height: 401px;
  margin: 30px 0 0 0;
}
.wrapper_main_individual_furniture .individual_furniture_picture img {
  max-width: 100%;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper_main_individual_furniture .individual_furniture_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42%;
          flex: 1 1 42%;
  padding: 107px 85px 99px 30px;
  background: #5B5B5B;
}

.individual_furniture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title_individual_furniture_line_height {
  line-height: 35px;
  margin: 0 0 30px 0;
  color: #FFF;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

/* .block_out_top{
    width: 149px;
    height: 110px;
    background-color: #FF9619;
    position: relative;
    top: -487px;
    right: -1070px;
    span{
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.245em;
        color: #FFFFFF;
        position: absolute;
        top: 60px;
        left: 11px;
    }   
} */
.furniture_description {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.individual_furniture_description {
  margin: 0 0 32px 0;
}

.btn_individual_furniture {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFF;
  background: #FF9619;
  padding: 13px 19px 14px 18px;
  margin: 18px 0 99px 0;
}
.btn_individual_furniture:hover {
  background: #FF9619;
  color: #FFF;
}

.height_limit {
  max-height: 450px;
}

/*our_story------------------------------------------------------------*/
.wrapper_our_story {
  min-width: 1210px;
}

.title_our_story_line_height {
  line-height: 52px;
}

.our_story {
  max-height: 543px;
  position: relative;
  margin: 0 0 45px 0;
}
.our_story .our_story_picture {
  max-width: 100%;
  max-height: auto;
  margin: 0 0 0 31.6%;
}
.our_story .our_story_picture img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.our_story .our_story_text {
  max-width: 538px;
  max-height: auto;
  background: #5B5B5B;
  padding: 50px 40px;
  position: relative;
  top: -477px;
  left: 0;
}

.furniture_description_margin {
  margin: 20px 0 0 0;
}

.our_story_orange_block {
  width: 101px;
  height: 55px;
  background: #FF9619;
  position: absolute;
  top: 280px;
  left: 368px;
}

.our_story_years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our_story_years span:nth-child(odd) {
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  color: #343434;
}
.our_story_years span:nth-child(2) {
  font-weight: 600;
  font-size: 144px;
  line-height: 216px;
  color: rgba(52, 52, 52, 0.1);
}

/*latest_publications------------------------------------------------------------*/
.wrapper_latest_publications {
  min-width: 1210px;
}

.container_latest_publications {
  padding: 110px 0 160px 0;
}

.latest_publications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.latest_publications .latest_publications_item {
  max-width: 271px;
  text-align: center;
  margin: 80px 0 0 0;
}
.latest_publications .latest_publications_item img {
  max-width: 100%;
  height: auto;
  margin: 0 0 15px 0;
  padding: 5px;
}

/*have_questions------------------------------------------------------------*/
.wrapper_have_questions {
  min-width: 1210px;
  background: #A9C2BE;
}

.container_have_questions {
  max-height: 479px;
}

.form_have_questions {
  margin: 20px auto;
}
.form_have_questions p:first-of-type {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FF9619;
}
.form_have_questions p:nth-child(2) {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
  color: #343434;
}

.form_have_questions {
  width: 470px;
  height: 417px;
  background: #FFF;
  padding: 31px 50px 17px;
  position: relative;
  top: -467px;
  left: 231px;
}
.form_have_questions p {
  margin: 0;
}

.have_questions_input_style {
  border: none;
  border-bottom: 1px solid #D1D1D1;
  background-color: transparent;
}

input {
  display: inline-block;
  width: 100%;
  height: 48px;
}

input:last-of-type {
  display: none;
}

::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #343434;
  opacity: 0.5;
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #343434;
  opacity: 0.5;
}

::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #343434;
  opacity: 0.5;
}

::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #343434;
  opacity: 0.5;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #343434;
  opacity: 0.5;
  -ms-flex-item-align: center;
      align-self: center;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #D1D1D1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: #D1D1D1;
  background-image: url(image/checkbox/svg-editor-image.svg);
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #bbbbbb;
}

.custom-checkbox:not(:disabled):active + label::before {
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}

.custom-checkbox:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.1rem #bbbbbb;
          box-shadow: 0 0 0 0.1rem #bbbbbb;
}

.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #bbbbbb;
}

.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

form p:first-of-type {
  margin: 0 0 15px 0;
}
form > span {
  font-weight: 800;
  font-size: 160px;
  line-height: 176px;
  color: #FF9619;
  position: absolute;
  top: -45px;
  left: -78px;
}
form div {
  text-align: center;
}

.btn_form {
  padding: 10px 20px;
  margin: 16px 0 0 0;
}
.btn_form:hover {
  color: #FFF;
}

.have_questions_ekmi {
  padding: 28px 0 0 0;
}
.have_questions_ekmi span {
  font-weight: 800;
  font-size: 130px;
  line-height: 143px;
  letter-spacing: 0.13em;
  color: #5B5B5B;
}

/*footer------------------------------------------------------------*/
.wrapper_footer {
  min-width: 1210px;
  background: #5B5B5B;
  min-height: 365px;
  margin: 95px 0 0 0;
}

.footer_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 0 0;
}
.footer_all a {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.footer_all li {
  margin: 0 0 25px 0;
}

.footer_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23%;
          flex: 0 1 23%;
}

.footer_nav_katalog {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.footer_nav_models {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.footer_btn {
  padding: 15px 12px 10px 11px;
  width: 330px;
}
.footer_btn:hover {
  color: #FF9619;
  background: #FFF;
}

.footer_contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 32%;
          flex: 1 1 32%;
}

.footer_copyright {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.16em;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
  padding: 30px 0;
}

.footer_tel {
  padding: 48px 0;
}

/*# sourceMappingURL=style.css.map */