@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@700&family=Raleway:wght@300;400;500;600;700;800&display=swap");
/* reset */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/*header-------------------------------------------------*/
body {
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif; */
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.header {
  position: relative;
}

.header_nav {
  padding: 15px 0;
}
.header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
.header_nav ul li {
  display: block;
  padding: 10px 0;
}
.header_nav ul a {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #343434;
}

.header_nav_katalog {
  display: none;
  width: 208px;
  height: 312px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  top: 75px;
  left: 0;
}
.header_nav_katalog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header_nav_katalog li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_katalog li:hover {
  background: #FF9619;
  cursor: pointer;
}
.header_nav_katalog li:hover a {
  color: #FFF;
}
.header_nav_katalog li a {
  padding: 0 0 0 11px;
  color: #343434;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_katalog li .header_nav_dropdowns {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
}

.header_nav li:first-child:hover div.header_nav_katalog {
  display: block;
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 1;
}

.header_nav_individual {
  display: none;
  width: 208px;
  height: 312px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  top: 75px;
  left: 126px;
}
.header_nav_individual ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header_nav_individual li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_individual li:hover {
  background: #FF9619;
  cursor: pointer;
}
.header_nav_individual li:hover a {
  color: #FFF;
}
.header_nav_individual li a {
  padding: 0 0 0 11px;
  color: #343434;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header_nav li:nth-child(2):hover div.header_nav_individual {
  display: block;
  position: absolute;
  top: 75px;
  left: 126px;
  z-index: 1;
}

.header_nav_contacts {
  display: none;
  width: 208px;
  height: 312px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  top: 75px;
  left: 381px;
}
.header_nav_contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header_nav_contacts li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_contacts li:hover {
  background: #FF9619;
  cursor: pointer;
}
.header_nav_contacts li:hover a {
  color: #FFF;
}
.header_nav_contacts li a {
  padding: 0 0 0 11px;
  color: #343434;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header_nav li:nth-child(3):hover div.header_nav_contacts {
  display: block;
  position: absolute;
  top: 75px;
  left: 381px;
  z-index: 1;
}

.header_nav_company {
  display: none;
  width: 208px;
  height: 312px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  top: 75px;
  left: 805px;
}
.header_nav_company ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header_nav_company li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_company li:hover {
  background: #FF9619;
  cursor: pointer;
}
.header_nav_company li:hover a {
  color: #FFF;
}
.header_nav_company li a {
  padding: 0 0 0 11px;
  color: #343434;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.header_nav li:nth-child(5):hover div.header_nav_company {
  display: block;
  position: absolute;
  top: 75px;
  left: 805px;
  z-index: 1;
}

.header_nav_language {
  display: none;
  width: 32px;
  height: 75px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  top: 75px;
  left: 1153px;
}
.header_nav_language ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.header_nav_language li {
  height: 25px;
  padding: 0 !important;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_language li:hover {
  cursor: pointer;
}
.header_nav_language li:hover a {
  color: #FF9619;
}
.header_nav_language li a {
  padding: 7px 7px;
  color: #343434;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.header_nav_language li .header_nav_language_dropdowns {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: rgba(52, 52, 52, 0.7);
}

.header_nav li:last-child:hover div.header_nav_language {
  display: block;
  position: absolute;
  top: 75px;
  left: 1127px;
  z-index: 1;
}

/*wrapper_main_go_katalog------------------------------------------------------------*/
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFF;
  background: #FF9619;
}
.btn:hover {
  background: #5B5B5B;
}

.wrapper_main_go_katalog {
  max-height: 590px;
  margin: 0 0 310px 0;
  background-color: #CCB2A3;
}

.main_since_1993 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 95px;
}
.main_since_1993 span {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.main_katalog_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_katalog_carousel > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}
.main_katalog_carousel h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
  text-transform: capitalize;
  color: #FFF;
  padding: 80px 30px 60px 0;
  margin: 0;
}
.main_katalog_carousel h1::first-letter {
  color: #FF9619;
}
.main_katalog_carousel a {
  width: 210px;
  height: 43px;
  padding: 10px 20px;
}
.main_katalog_carousel a:hover {
  color: #FFF;
}

.carousel_katalog {
  max-width: 870px;
}

.carousel-indicators {
  position: absolute;
  bottom: -47px;
  left: 0;
}

.carousel-indicators [data-bs-target] {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 13px;
  height: 13px;
  padding: 0;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #F2F3F5;
  background-clip: padding-box;
  border: 0;
  border-radius: 50%;
  border-top: 0;
  border-bottom: 0;
  opacity: 1;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

d-block {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-indicators .active {
  background-color: #FF9619;
}

/*wrapper_main_go_katalog------------------------------------------------------------*/
.title {
  font-weight: 700;
  font-size: 35px;
}
.title::first-letter {
  color: #FF9619;
}

.main_new_items a {
  width: 210px;
  height: 43px;
  padding: 10px 20px;
}
.main_new_items a:hover {
  color: #FFF;
}

.new_items_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0 60px 0;
}
.new_items_carousel svg:first-of-type {
  margin: 0 29px 0 0;
  -ms-flex-item-align: center;
      align-self: center;
}
.new_items_carousel svg:last-of-type {
  margin: 0 0 0 29px;
  -ms-flex-item-align: center;
      align-self: center;
}

.main_new_items h2 {
  line-height: 39px;
}

.name_item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #343434;
}

.price_item {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FF9619;
  text-transform: uppercase;
}

.new_item_card {
  text-align: center;
}
.new_item_card:nth-child(3) {
  margin: 0 40px;
}

.main_new_items_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*# sourceMappingURL=style.css.map */