@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@700&family=Raleway:wght@300;400;500;600;700;800&display=swap');

/* reset */

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {
	outline: none;
}
a:focus,a:active {
	outline: none;
}
nav,footer,header,aside {
	display: block;
}
html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea {
	font-family: inherit;
}
input {
	&::-ms-clear {
		display: none;
	}
}
button {
	cursor: pointer;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
img {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: 400;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
/* html, body { 
    width: 100%; overflow-x: hidden;
} */

/*header-------------------------------------------------*/
$m_width: 1210px;
$trans: 0.1s linear;

body{
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; */
    font-family: 'Raleway', sans-serif;
}
.container{
    width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
    /* background: rgb(240, 203, 203); */
}
.wrapper_header{
    min-width: $m_width;
}
.header{
    position: relative;
}
.header_nav{
    padding: 15px 0;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        li{
            display: block;
            padding: 10px 0;
        }
        a{
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            align-items: center;
            text-transform: uppercase;
            color: #343434;
        }
    }
}
	.header_nav_katalog {
        display: none;
		width: 208px;
		height: 312px;
		background: #FFF;
		box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
        transition: $trans;
        position: absolute;
        top: 75px;
        left: 0;
        ul{
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
		li{
            display: flex;
            align-items: center;
            height: 39px;
            transition: $trans;
            &:hover{
                background: #FF9619;
                cursor: pointer;
                a{
                    color: #FFF;
                }
            }
		a{
            padding: 0 0 0 11px;
		    color: #343434;
            transition: $trans;
	    }
		.header_nav_dropdowns{
			font-weight: 400;
			font-size: 17px;
			line-height: 32px;
		} 
	}
}
.header_nav li:first-child:hover div.header_nav_katalog {
    display: block;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: 1;
}

.header_nav_individual {
    display: none;
    width: 208px;
    height: 312px;
    background: #FFF;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
    transition: $trans;
    position: absolute;
    top: 75px;
    left: 126px;
    ul{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    li{
        display: flex;
        align-items: center;
        height: 39px;
        transition: $trans;
        &:hover{
            background: #FF9619;
            cursor: pointer;
            a{
                color: #FFF;
            }
        }
    a{
        padding: 0 0 0 11px;
        color: #343434;
        transition: $trans;
    }
}
}
.header_nav li:nth-child(2):hover div.header_nav_individual {
    display: block;
    position: absolute;
    top: 75px;
    left: 126px;
    z-index: 1;
}

.header_nav_contacts {
    display: none;
    width: 208px;
    height: 312px;
    background: #FFF;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
    transition: $trans;
    position: absolute;
    top: 75px;
    left: 381px;
    ul{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    li{
        display: flex;
        align-items: center;
        height: 39px;
        transition: $trans;
        &:hover{
            background: #FF9619;
            cursor: pointer;
            a{
                color: #FFF;
            }
        }
    a{
        padding: 0 0 0 11px;
        color: #343434;
        transition: $trans;
    }
}
}
.header_nav li:nth-child(3):hover div.header_nav_contacts {
    display: block;
    position: absolute;
    top: 75px;
    left: 381px;
    z-index: 1;
}

.header_nav_company {
    display: none;
    width: 208px;
    height: 312px;
    background: #FFF;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
    transition: $trans;
    position: absolute;
    top: 75px;
    left: 805px;
    ul{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    li{
        display: flex;
        align-items: center;
        height: 39px;
        transition: $trans;
        &:hover{
            background: #FF9619;
            cursor: pointer;
            a{
                color: #FFF;
            }
        }
    a{
        padding: 0 0 0 11px;
        color: #343434;
        transition: $trans;
    }
}
}
.header_nav li:nth-child(5):hover div.header_nav_company {
    display: block;
    position: absolute;
    top: 75px;
    left: 805px;
    z-index: 1;
}

.header_nav_language {
    display: none;
    width: 32px;
    height: 75px;
    background: #FFF;
    box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.15);
    transition: $trans;
    position: absolute;
    top: 75px;
    left: 1153px;
    ul{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    li{
        height: 25px;
        padding: 0!important;
        transition: $trans;
        &:hover{
            cursor: pointer;
            a{
                color: #FF9619;
            }
        }
    a{
        padding: 7px 7px;
        color: #343434;
        transition: $trans;
    }
    .header_nav_language_dropdowns{
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: rgba(52, 52, 52, 0.7);
    }
}
}
.header_nav li:last-child:hover div.header_nav_language {
    display: block;
    position: absolute;
    top: 75px;
    left: 1127px;
    z-index: 1;
}

/*go_katalog------------------------------------------------------------*/
.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFF;
    background: #FF9619;
    &:hover{
        background: #5B5B5B;
    }   
}
.wrapper_main_go_katalog{
    min-width: $m_width;
    max-height: 590px;
    margin: 0 0 140px 0;
    background-color: #CCB2A3;
}
.main_since_1993{
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 95px;
    span{
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
    }
}
.main_katalog_carousel{
    display: flex;
    .katalog_left{
    }
        h1{
            font-weight: 600;
            font-size: 42px;
            line-height: 46px;
            text-transform: capitalize;
            color: #FFF;
            padding: 80px 225px 60px 0;
            margin: 0;
            &::first-letter{
                color: #FF9619;
            }
        }
        a{
            width: 210px;
            height: 43px;
            padding: 10px 20px;
            &:hover{
                color: #FFF;
            }
        }
}
.carousel-item{
    img{
        max-width: 100%;
        height: auto;
    }
}
.carousel_katalog{
    flex: 0 1 74.4%;
    }
    .carousel-indicators{
        position: absolute;
        bottom: -47px;
        left: 0;
    }
    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 13px;
        height: 13px;
        padding: 0;
        margin-right: 5px;
        margin-left: 5px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #F2F3F5;;
        background-clip: padding-box;
        border: 0;
        border-radius: 50%;
        border-top: 0;
        border-bottom: 0;
        opacity: 1;
        transition: opacity .6s ease;
    }
    .carousel-indicators .active{
        background-color: #FF9619;
    }

/*new_items------------------------------------------------------------*/
.title{
    font-weight: 700;
    font-size: 35px;
    &::first-letter{
        color: #FF9619;
    }
}
.title_new_item_line_height{
    line-height: 39px;
}
.wrapper_main_new_items{
    min-width: $m_width;
    a{
        width: 210px;
        height: 43px;
        padding: 10px 20px;
        &:hover{
            color: #FFF;
        }
    }
}
.new_items_carousel{
    display: flex;
    justify-content: center;
    margin: 80px 0 40px 0;
    svg:first-of-type{
        margin: 0 29px 0 0;
        align-self: center;
    }
    svg:last-of-type{
        margin: 0 0 0 29px;
        align-self: center; 
    }
    img{
        margin: 0 0 15px 0;
    }
}
.main_new_items{
    h2{
        line-height: 39px;
    }
}
.name_item{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #343434;
}
.price_item{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FF9619;
    text-transform: uppercase;
}
.new_item_card{
    text-align: center;
    &:nth-child(3){
        margin: 0 40px;
    }
}
.main_new_items_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

/*individual_furniture------------------------------------------------------------*/
.wrapper_main_individual_furniture{
    min-width: $m_width;
    min-height: 390px;
    background: url(image/individual_furniture/Vector\ 13turquoise\ tiles.png) no-repeat, repeating-linear-gradient(90deg, #A9C2BE 0%, #A9C2BE 54.9%, #5B5B5B 54.9%, #5B5B5B 100%);
    margin: 195px 0 182px 0;
    .individual_furniture_picture{
        display: flex;
        justify-content: flex-end;
        flex: 0 1 58%;
        max-height: 401px;
        margin: 30px 0 0 0;
        img{
            max-width: 100%;
            max-height: auto;
            object-fit: cover;
        }
    }
    .individual_furniture_text{
        flex: 1 1 42%;
        padding: 107px 85px 99px 30px;
        background: #5B5B5B;
    }
}  
.individual_furniture{
    display: flex;

}
.title_individual_furniture_line_height{
    line-height: 35px;
    margin: 0 0 30px 0;
    color: #FFF;
}
.subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.block_out_top{
    width: 149px;
    height: 110px;
    background-color: #FF9619;
    position: relative;
    top: -487px;
    right: -1070px;
    span{
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.245em;
        color: #FFFFFF;
        position: absolute;
        top: 60px;
        left: 11px;
    }   
}
.furniture_description{
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.individual_furniture_description{
    margin: 0 0 32px 0;
}
.btn_individual_furniture{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFF;
    background: #FF9619;
    padding: 13px 19px 14px 18px;
    margin: 18px 0 99px 0;
    &:hover{
        background: #FF9619;
        color: #FFF;
    }   
}
.height_limit{
    max-height: 450px;
}

/*our_story------------------------------------------------------------*/
.wrapper_our_story{
    min-width: $m_width;
}
.title_our_story_line_height{
    line-height: 52px;
}
.our_story{
    max-height: 543px;
    position: relative;
    margin: 0 0 45px 0;
    .our_story_picture{
        max-width: 100%;
        max-height: auto;
        margin: 0 0 0 31.6%;
        img{
            max-width: 100%;
            height: auto;
            object-fit: cover;
        };
    }
    .our_story_text{
        max-width: 538px;
        max-height: auto;
        background: #5B5B5B;
        padding: 50px 40px;
        position: relative;
        top: -477px;
        left: 0;
    }
}
.furniture_description_margin{
    margin: 20px 0 0 0;
}
.our_story_orange_block{
    width: 101px;
    height: 55px;
    background: #FF9619;
    position: absolute;
    top: 280px;
    left: 368px;
}
.our_story_years{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span:nth-child(odd){
        font-weight: 300;
        font-size: 25px;
        line-height: 32px;
        color: #343434;
    }
    span:nth-child(2){
        font-weight: 600;
        font-size: 144px;
        line-height: 216px;
        color: rgba(52, 52, 52, 0.1);
    }
}

/*latest_publications------------------------------------------------------------*/
.wrapper_latest_publications{
    min-width: $m_width;
}
.container_latest_publications{
    padding: 110px 0 160px 0;
}
.latest_publications{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .latest_publications_item{
        max-width: 271px;
        text-align: center;
        margin: 80px 0 0 0;
        img{
            max-width: 100%;
            height: auto;
            margin: 0 0 15px 0;
            padding: 5px;
        }
    }
}

/*have_questions------------------------------------------------------------*/
.wrapper_have_questions{
    min-width: $m_width;
    background: #A9C2BE;
}
.container_have_questions{
    max-height: 479px;
}
.form_have_questions{
    margin: 20px auto;
    p:first-of-type{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #FF9619;
    }
    p:nth-child(2){
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        text-transform: uppercase;
        color: #343434;
    }
}
.form_have_questions{
    width: 470px;
    height: 417px;
    background: #FFF;
    padding: 31px 50px 17px;
    position: relative;
    top: -467px;
    left: 231px;
    p{
        margin: 0;
    }
}
.have_questions_input_style{
    border: none;
    border-bottom: 1px solid #D1D1D1;
    background-color: transparent;
}
input{
    display: inline-block;
    width: 100%;
    height: 48px;
}
input:last-of-type{
    display: none;
}
::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #343434;
    opacity: 0.5;
}
label{
    display: flex;
    height: 48px;
    align-items: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #343434;
    opacity: 0.5;
    align-self: center;
}   
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #D1D1D1;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
    border-color: #D1D1D1;
    background-image: url(image/checkbox/svg-editor-image.svg);
}
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #bbbbbb;
}
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.1rem #bbbbbb;
}
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #bbbbbb;
}
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}
form{
    p:first-of-type{
        margin: 0 0 15px 0;
    }
    >span{
        font-weight: 800;
        font-size: 160px;
        line-height: 176px;
        color: #FF9619;
        position: absolute;
        top: -45px;
        left: -78px;
    }
    div{
        text-align: center;
    }
}
.btn_form{
    padding: 10px 20px;
    margin: 16px 0 0 0;

    &:hover{
        color: #FFF;
    }
}
.have_questions_ekmi{
    padding: 28px 0 0 0;
    span{
        font-weight: 800;
        font-size: 130px;
        line-height: 143px;
        letter-spacing: 0.13em;
        color: #5B5B5B;
    }
}

/*footer------------------------------------------------------------*/
.wrapper_footer{
    min-width: $m_width;
    background: #5B5B5B;
    min-height: 365px;
    margin: 95px 0 0 0;
}
.footer_all{
    display: flex;
    padding: 80px 0 0 0;
    a{
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.16em;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    li{
        
        margin: 0 0 25px 0;
    }
}
.footer_logo{
    flex: 0 1 23%;
}
.footer_nav_katalog{
    flex: 1 1 20%;
}
.footer_nav_models{
    flex: 1 1 25%;
}
.footer_btn{
    padding: 15px 12px 10px 11px;
    width: 330px;
    &:hover{
        color: #FF9619;
        background: #FFF;
    }
}
.footer_contacts{
    flex: 1 1 32%;
}
.footer_copyright{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.16em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    padding: 30px 0;
}
.footer_tel{
    padding: 48px 0;
}