.menu {
    width: 20%;
    float: left;
}

.banner {
    width: 200px;
    float: right;
    background: url(../../Медиавложения/MAKET_FOOTBALL/ball3.png) left top no-repeat;
}

.content {
    margin-left: 20%;
    margin-right: 200px;
}

.footer {
    clear: both;
}

.fons {
    font-size: 16px;
    text-align: center;
    background: url(../../Медиавложения/MAKET_FOOTBALL/2080ball1.jpg) 20% top no-repeat,
                url(../../Медиавложения/MAKET_FOOTBALL/2080ball1.jpg) 20% bottom no-repeat,
                url(../../Медиавложения/MAKET_FOOTBALL/2080ball0.jpg) 20% top repeat-y;
}

.fon_rights {
    background: url(../../Медиавложения/MAKET_FOOTBALL/pinkBall.jpg) right bottom no-repeat,
                url(../../Медиавложения/MAKET_FOOTBALL/width-200px-pink.jpg) right top repeat-y;
}

.ball_four {
    background: url(../../Медиавложения/MAKET_FOOTBALL/ball3.png) left top no-repeat,
                url(../../Медиавложения/MAKET_FOOTBALL/ball3.png) right top no-repeat,
                url(../../Медиавложения/MAKET_FOOTBALL/ball3.png) left bottom no-repeat,
                url(../../Медиавложения/MAKET_FOOTBALL/ball3.png) right bottom no-repeat;

}

