@media all and (min-width: 700px) {
    .content {
        background: url(../../Медиавложения/MAKET_FOOTBALL/ball.png) repeat-y right;
    }
  }

body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    font-size: 1.2rem;
}

.title {
    text-align: center;
    padding: 1px;
    background-color:#add8e6; color: #0000ff;
}

.yellowBKG {
    background: url('../../Медиавложения/MAKET_FOOTBALL/yellowbackground.jpg') left top repeat-y;
}

.menu {
    font: bold 1.2rem Times New Roman;
    width: 250px;
    padding: 10px 0 0 10px;
    float: left;
}

.content {
    margin-left: 260px;
    padding: 10px;
    font-size: 1.2rem;         
}

.image {
    margin: 0 20px 10px 0;
    float: left;
}

.clearfix:after { content: "."; visibility: hidden; display: block;
    height: 0; clear: both }


